.main-photo {
    background-color: green;
    height: 85%;
    width: 88%;
    z-index: 1;
}

@for $stripe from 0 through 1 {
    .photo-stripe_#{$stripe} {
        background-color: black;
        height: 100%;
        width: 10%;
    }
}
