<!--suppress AngularInvalidExpressionResultType -->
<div>
    <app-polygon class="left-polygon"
                 [appPolygonConfig]="{
                    Both: {
                        Right:{degAngle: 14, clipCorner: 'Down'},
                        Left: {degAngle: 24, clipCorner: 'Up'}
                        }
                    }"
                 [resizeCropWidth]="500">
    </app-polygon>
    <app-polygon class="right-polygon"
                 [appPolygonConfig]="{
                    Both: {
                        Right:{degAngle: 25, clipCorner: 'Up'},
                        Left: {degAngle: 18, clipCorner: 'Up'}
                        }
                    }"
                 [resizeCropWidth]="850">
    </app-polygon>
</div>
