app-main-header {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    .left-polygon {
        flex: 1 0 auto;

        div {
            background-color: blue;
        }
    }

    @for $stripe from 0 through 1 {
        .photo-stripe_#{$stripe} {
            position: absolute;
            flex: none;
            background-color: black;
            height: 100%;
            width: 4%;
            z-index: 1;
            @if $stripe == 0 {
                transform-origin: bottom left;
                left: 58%;
            } @else if $stripe == 1 {
                transform-origin: top right;
                right: 11.6%;
            }
        }
    }

    .right-polygon {
        flex: 0.2 1 auto;

        div {
            background-color: red;
        }
    }
}

app-photo-frame {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
